body {
  font-family: 'Overpass', sans-serif;
  background-color: rgba(47, 0, 255, 0.219);
  position: relative;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 400px;
  height: 550px;
  border: 2px solid gray;
  border-radius: 1.5rem;
  display: grid;
  grid-template-rows: 2fr 5fr;
  grid-gap: 10px;
  background-color: rgb(31, 31, 49);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.603);
}

.input-box {
  border: 2px solid gray;
  margin: 12px 12px 0 12px;
  border-radius: 1.5rem;
  background-color: rgb(208, 208, 236);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.603);
  display: grid;
  grid-template-rows: 55px 82px;
  overflow: hidden;
}

#input,
#result {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
}

#result {
  font-size: 24px;
  align-items: center;
  font-weight: 560;
}

.btn-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 0 12px 12px 12px;
}

.delete {
  grid-column: 1/3;
  cursor: pointer;
}

.plus {
  grid-column: 4/5;
  grid-row: 4/6;
  cursor: pointer;
}

.btn {
  border: 2px solid gray;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  background-color: rgb(208, 208, 236);
  transition: all 0.25s ease;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.603);
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(104, 104, 119);
}

.btn:active {
  transform: scale(0.9);
}
.back {
  position: absolute;
  top: 2vw;
  left: 2vw;
  padding: 7px 10px 5px;
  border-radius: 0.5em;
}
a {
  text-decoration: none;
  color: black;
}
